.modal .custom-modal-card {
    width: 80%;
}

@media (max-width: 768px) {
    .modal .custom-modal-card {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .modal .custom-modal-card {
        max-width: 100%;
    }
}
